*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;;
}
h1{
    color:blue;
}
body{
    background-color: rgb(252, 239, 216);
}
p{
    color: rebeccapurple;
}

.parrafoLila{
    color: rebeccapurple !important;
}

.parrafoVerde{
    color: green;
}
button{
    background-color: orange;
    border: 2px solid black;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
}
a{
    all: unset;
    background-color: lightgrey;
    color: black;
}
a:hover{
    cursor:e-resize;
    background-color: pink;
}
.miprimeracaja{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background-color: lightblue;
    color: darkblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
}


