#titulo {
    color: red;
}
p{
    color: blue;
}
.destacado{
    color: yellow;
}
button{
    background-color: orange;
    border: 2px solid black;
    box-shadow: 3px 3px 5px grey;
    cursor: pointer;
}
.reset{
    all: unset;
    background-color: lightgrey;
    color: black;
}

.reset:hover{
    cursor:e-resize;
    background-color: pink;
}